.btn {
  color: #6070ff;
  width: 15%;
  height: 15%;
}

.headline {
  margin-top: 19%;
  margin-right: 10%;
  margin-bottom: 30%;
  margin-left: 10%;
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: blue;
  font-family: sans-serif;
  font-size: 20px;
}

.header h1:hover {
  color: red;
}

.headline_container {
  font-weight: 700%;
  font-size: 300%;
  line-height: 130%;
  text-align: center;
  color: black;
}

.paragraph {
  text-align: center;
  font-size: 25px;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
}

.media {
  padding-left: 30%;
  color: blue;
}

.connect:hover {
  color: red;
}

.menu-bar {
  display: flex;
  justify-content: flex-end;
}

.menu-bar a:hover {
  color: red;
}

.sg img:hover {
  background: burlywood;
}

.menu-bar li {
  display: inline;
  margin-left: 10px;
  padding: 10px;
}

.logo svg:hover {
  color: red;
}

@media (min-width: 375px) {
  .menu {
    /* background-color: #396df2; */
    width: 100vw;
    margin-top: 100px;
  }

  .menu-bar {
    display: none;
    flex-direction: column;
    font-size: 20px;
    margin-top: 30%;
  }

  .menu-bar li a {
    font-size: 30px;
    margin-top: 200px;
    padding: 30px;
  }

  .btn {
    display: block;
  }

  .sem {
    width: 100px;
    height: 60px;
    margin-left: 78%;
    position: fixed;
    margin-top: 20px;
  }

  .x_close {
    display: none;
    width: 30px;
    margin-left: 90%;
    position: fixed;
    padding-top: 0%;
    margin-top: 0;
  }

  .task1 {
    background-color: white;
    background-image: url("/image/sg1\ bg.svg");
    background-size: cover;

    /* padding-bottom: 0%; */
  }
}

@media (min-width: 768px) {
  .sem {
    display: none;
  }

  .image {
    padding: 10%;
  }

  .task1 {
    background-image: url("/image/Header\ bg.svg");
    background-size: cover;
  }

  .image img {
    width: 150%;
  }

  .box_1 {
    margin-top: 10%;
  }

  .page1 {
    display: flex;
    justify-content: space-between;
    border: 10px;
    width: 80%;
    margin-top: 10%;
  }

  .headline1 {
    display: flex;
    justify-content: space-between;
    border: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    padding-right: 20%;
    padding-left: 10%;
  }

  .logos {
    display: flex;

    /* margin-right: 100%; */

    /* padding-right: 0%; */
  }

  .js_2 {
    display: flex;
    flex-direction: column;
    margin-right: 15%;
  }

  .html_2 {
    display: flex;
    flex-direction: column;
  }

  .css_2 {
    display: flex;
    flex-direction: column;
  }

  .works {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* flex-direction: column; */
    align-items: center;
  }

  .menu-bar {
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    overflow: hidden;
    width: auto;
    background-color: white;
  }

  .menu {
    width: auto;
  }

  .menu-bar li a {
    display: flex;
    margin: 10px 0;
    flex-direction: row;
    background-color: none;
    justify-content: space-between;
  }

  .menu-bar li {
    background-color: none;
  }

  .body {
    background-color: white;
    background-size: cover;
  }
}

/* .box1 {
  padding-bottom: 5%;
} */

.Tonic {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: black;
}

.canopy ul {
  display: flex;
  gap: 15%;
  font-size: 25px;
}

.paragraph2 {
  font-size: 25px;
  color: black;
}

.hcsjs {
  border: 10px;
  display: flex;
  gap: 10%;
  list-style-type: none;
  font-size: 20px;
}

.html {
  border-radius: 8px;
  padding: 4px 12px;
  width: 57px;
  height: 24px;
  background: #6070ff;
}

.css {
  border-radius: 8px;
  padding: 4px 12px;
  width: 49px;
  height: 24px;
  background: #6070ff;
}

.js {
  border-radius: 8px;
  padding: 4px 12px;
  width: 92px;
  height: 24px;
  background: #6070ff;
}

.btn2 button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin-top: 15px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 141%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
}

/* .image {
  margin-top: 20%;
} */

/* .aboutmyself {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.languege {
  border: 10px;
  display: flex;
  justify-content: space-between;
}

.js_2 {
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-left: 7%;
  background-color: beige;
  margin-top: 8%;
}

.html_2 {
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-left: 7%;
  background-color: beige;
  margin-top: 5%;
}

.css_2 {
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-left: 7%;
  background-color: beige;
  margin-top: 5%;
}

.framework {
  margin-top: 8%;
  border: 10px;
  display: flex;
  justify-content: space-between;
}

.skill {
  border: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.contact_2 {
  background-color: #6070ff;
  border-top-left-radius: 70px;
  background-size: cover;
  margin: top 1px;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.head_h1 {
  color: aliceblue;
  text-align: center;
  margin-top: 1%;
  padding: 5%;
}

.nameofperson input {
  padding: 3%;
  margin-left: 5%;
  width: 80%;
}

.emailofperson input {
  padding: 3%;
  margin-left: 5%;
  width: 80%;
  margin-top: 3%;
}

.txtarea input {
  height: 100px;
  margin-top: 5%;
  margin-left: 5%;
  width: 85%;
}

.getintouch input {
  margin-left: 15%;
  margin-top: 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #396df2;
  font-size: 100%;
  border-radius: 10px;
  border: 2px solid #396df2;
}
